<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label for="LoginField">Login</label>
                <input type="text" class="form-control" id="LoginField" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="passwordField">Password</label>
                <input type="password" class="form-control" id="passwordField" placeholder="Password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> zapamiętaj sesję</label>
            </div>
            <button type="submit" class="btn btn-default">Zaloguj się</button>
        </form>
        <div>
            <p>Zapomnialeś hasło?</p>
            <p>Nie masz jeszcze konta? Registruj się</p>
        </div>
    </div>
</div>