<div class="row">
    <div class="col-xs-3">
        <img holder="holder.js/100px100?theme=social&text=Image1">
    </div>
    <div class="col-xs-3">
        <img holder="holder.js/100px100?theme=social&text=Image2">
    </div>
    <div class="col-xs-3">
        <img holder="holder.js/100px100?theme=social&text=Image3">
    </div>
    <div class="col-xs-3">
        <img holder="holder.js/100px100?theme=social&text=Image4">
    </div>
    <div class="col-xs-12">
        <p lorem="100w"></p>
    </div>
</div>