<div>
    <div class="container-fluid">
        <div class="row">
            <div role="navigation" class="col-xs-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
                    <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
                    <li role="presentation"><a href="#">Roles</a></li>
                    <li role="presentation"><a href="#">View</a></li>
                    <li role="presentation"><a href="#">Reports</a></li>
                    <li role="presentation"><a href="#">Admin</a></li>
                    <li role="presentation"><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="col-xs-10">
                <img holder="holder.js/100px400?theme=social&text=content">
                <img holder="holder.js/100px400?theme=social&text=content">
            </div>
        </div>
    </div>
</div>